html { 
	background-color:#F6F7F8;
	font-family:Hack,monospace;;
	font-size:14px;
}

/*vertical menu on small screens
@media only screen and (max-width: 500px) {
	#list li { 
		width:100%;	margin-top:50px;
	}

	#list li a{
		position:relative;
	}
	#main {
		margin:auto;
		text-align:center;
	}
}
*/
/* blinking*/
#blink {
  	animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  	50% { opacity: 0.0; }
}
/*important stuff*/
a {
	text-decoration:none;
}
#main {
	margin:80px auto 0;
	text-align:center;
}
#top { 
	text-align:center;
	margin:25px auto 25px;
}
#top h1 {
	font-weight:bold;
	color:#323442;
	letter-spacing: 5px;
	
}
#left {
	text-align:left;
	margin: 0 auto;
	width: 50%;
} 
#line { 
	padding: 0 10px;
	margin: 0 100px;
}
#list {
	padding:0 16px;
}
#list li {
	display:block;
	padding:35px  6px;
	margin: 0 100px;
	box-sizing: border-box;
}
#list li a {
	font-weight:bold;
	text-transform:uppercase;
	border:4px double #C4C4C4;
	color:#323442;
	padding:10px 33%;
	transition:all .3s;
	outline:none;
	letter-spacing: 5px;
}
#list li a:hover {
	border:15px solid #868690;
	color:#484C61;
	/*box-shadow:6px 7px #383A4A;*/
	transition:all .35s;	
	letter-spacing: 7px;

}
.purple a:hover{
	border: 15px solid #880e4f !important;
}

.yellow a:hover{
	border: 15px solid #FFEB3B !important;
}
.blue a:hover{
	border: 15px solid #009688 !important;
}


#back {
	font-size:1em;
	color:#484C61;
	text-align:center;
	font-weight:lighter;
	letter-spacing: 5px;
}
#back:hover {
	color:#323442;
    transition:all .35s;
    text-align:center;
	letter-spacing: 4px;
}
#links li {
	font-weight:bold;
	text-transform:uppercase;
	color:#323442;
	list-style-type: none;
    text-decoration:none;
    padding: 10px 20%;
}	
#links li a{
    font-weight:bold;
	text-transform:uppercase;
	color:#323442;
	padding:10 px;
	letter-spacing: 3px;  
}
#links li a:hover{
    font-weight: bolder;
    color:black;
    transition:all .35s;
}
#footertext {
    text-decoration: none;
    margin: 25px auto 25px;
    font-style: italic;
    font-weight: bolder;
    font-size: .7em;
    color: #323442;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    margin-bottom: 50px;
}

body {
    height: 100%;
    margin: auto;
}

#center {
    margin-top: 25px;
    text-align: center;
    width: 100%;
}
/* for blogs and resume page */

p {
    padding: 0 10%;
    color: #323442;
}

pre {
    display:block;
    font-size:90%;
    border: 1px solid;
    border-radius: 4px;
    padding:10px;
    background-color: #151515;
    color: #D7D0C7;
    white-space: pre;
    margin: auto 10%;
}
code {
    font: monospace;
}
/*test zone */
.content {
  min-height: calc(100vh - 30vh);
}
#block{
    display: block;
    text-align:left;
}