html { 
	background-color:#F6F7F8;
}
body {
	font-family:sans-serif;
	font-size:14px;
}
a {
	text-decoration:none;
}
#main {
	margin:80px auto 0;
	text-align:center;
}
#top { 
	text-align:center;
	margin:25px auto 25px;
}

#top h1 {
	font-weight:bold;
	text-transform:uppercase;
}
#left {
	text-align:left;
	margin: 0 auto;
	width: 50%;
} 
#line { 
	padding: 0 10px;
	margin: 0 100px;
}
#list {
	padding:0 16px;
}
#list li {
	display:inline-block;
	padding:0 6px;
}
#list li a {
	font-weight:bold;
	text-transform:uppercase;
	border:4px double #C4C4C4;
	color:#323442;
	padding:10px 18px;
	transition:all .3s;
	outline:none;
}
#list li a:hover {
	border:4px solid #868690;
	color:#484C61;
	box-shadow:6px 7px #383A4A;
	transition:all .35s;
}
