html { 
	background-color:#F6F7F8;
	font-family:sans-serif;
	font-size:14px;
}

/*vertical menu on small screens*/
@media only screen and (max-width: 500px) {
	#list li { 
		width:100%;	
		margin-top:50px;
	}

	#list li a{
		position:relative;
	}
	#main {
		margin:auto;
		text-align:center;
	}
}
/* blinking*/
#blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}
/*important stuff*/
a {
	text-decoration:none;
}
#main {
	margin:80px auto 0;
	text-align:center;
}
#top { 
	text-align:center;
	margin:25px auto 25px;
}
#top h1 {
	font-weight:bold;
	color:#323442;
	
}
#left {
	text-align:left;
	margin: 0 auto;
	width: 50%;
} 
#line { 
	padding: 0 10px;
	margin: 0 100px;
}
#list {
	padding:0 16px;
}
#list li {
	display:inline-block;
	padding:0 6px;
}
#list li a {
	font-weight:bold;
	text-transform:uppercase;
	border:4px double #C4C4C4;
	color:#323442;
	padding:10px 18px;
	transition:all .3s;
	outline:none;
}
#list li a:hover {
	border:4px solid #868690;
	color:#484C61;
	box-shadow:6px 7px #383A4A;
	transition:all .35s;
}
#back {
	font-size:1em;
	color:#484C61;
	text-align:center;
	font-weight:lighter;
}
#back:hover {
	color:#484C61;
	font-weight:bold;
}
#links li {
	font-weight:bold;
	text-transform:uppercase;
	color:#C4C4C4;
	padding:10px;
	list-style-type: none;
}	

#footertext {
    text-decoration: none;
    margin: 25px auto 25px;
    font-style: italic;
    font-weight: bolder;
    font-size: .7em;
    color: #323442;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

body {
    height: 100%;
    margin: auto;
}

#center {
    text-align: center;
    width: 100%;
}
